body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #ddd, #fff);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.aliMenu {
    width: 250px;
    margin: 0 auto;
}

.btn {
    border-radius: 30px;
    border: solid 4px #eee;
    box-shadow: 1px 3px 0 #d0cfd3;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15pt;
    margin: 5px auto;
}

.btn>i {
    float: left;
}

.github {
    background: #595c59;
    background: linear-gradient(to right, #27332f, #595c59);
    background: linear-gradient(to right, #27332f, #595c59);
}

.twitter {
    background: #30988c;
    background: linear-gradient(to right, #30988c, #53b492);
    background: linear-gradient(to right, #30988c, #53b492);
}

.skype {
    background: #5edbf8;
    background: linear-gradient(to right, #5edbf8, #0d67d2);
    background: linear-gradient(to right, #5edbf8, #0d67d2);
}

.instagram {
    background: #ed5189;
    background: linear-gradient(to right, #f39049, #ed5189);
    background: linear-gradient(to right, #f39049, #ed5189);
}

.blog {
    background: #ff4b1f;
    background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);
    background: linear-gradient(to right, #1fddff, #ff4b1f);
}

.linkedin {
    background: #1177bb;
    background: linear-gradient(to right, #43b477, #1177bb);
    background: linear-gradient(to right, #43b477, #1177bb);
    animation-name: mohemmm;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes mohemmm {
    from {
        border-color: #eee;
    }

    to {
        border-color: #f66;
    }
}